# Testnet (2026-06-27): inj1kjxp4unuru20zsktzssvzjluvgwgp5re9eprjw
NEXT_PUBLIC_AIRDROP_CONTRACT=
NEXT_PUBLIC_DEFAULT_TOKEN=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_INJECTIVE_RPC=https://k8s.testnet.json-rpc.injective.network/